<section>
  <h1>{{ quizSkillName }} Conceptual Test</h1>

  <ng-container *ngIf="quizData">
    <div class="quiz-container" *ngFor="let item of quizData; let i = index">
      <h2 class="quiz-number-title">Question {{ i + 1 }}</h2>
      <h3 class="quiz-question">{{ item.question }}</h3>
      <div class="quiz-options-container">
        <button type="button" class="quiz-option" *ngFor="let option of item.options; let i = index"
          (click)="selectOption()">
          {{ option.option }}
        </button>
      </div>
    </div>
  </ng-container>
</section>
