.section-container {
  display: flex;
  justify-content: center;
}

section {
  min-height: 500px;
  max-width: 1150px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #393939;
  border-radius: 10px;
}

.card {
  background-color: #2F2F2F;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  max-height: 170px;
}

.button-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 100% auto;
  gap: 10px;

  a {
    border: none;
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s, color .3s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .button-conceptual {
    background-color: #606060;
    color: #fff;

    &:hover {
      background-color: #CECECE;
      color: #000;
    }
  }

  .button-technical {
    background-color: #CECECE;
    color: #000;
  }
}
