.section-container {
  display: flex;
  justify-content: center;
}

section {
  min-height: 500px;
  max-width: 1150px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #393939;
  border-radius: 10px;
}

.card {
  background-color: #2F2F2F;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  max-height: 170px;
}

.btn-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 150px auto;
  gap: 10px;

  button {
    width: 150px;
    border: none;
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
  }

  .conceptual-btn {
    background-color: #606060;
    color: #fff;
  }

  .technical-btn {
    background-color: #CECECE;
    color: #000;
  }
}
