nav {
  display: flex;
  justify-content: space-between;
  padding: 2em 3.5em;
}

.brand {
  font-weight: bold;
}

.login {
  cursor: pointer;
}

@media (min-width: 576px) {
  nav {
    padding: 2em 10em;
  }
}
