section {
  text-align: center;
}

.header-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

input {
  margin: 0 30px;
  border: 2px solid #fff;
  width: 350px;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .header-title {
    font-size: 3em;
  }

  input {
    width: 400px;
  }
}
