<ng-container *ngIf="isLoginOpen">
  <div class="main-container">
    <span (click)="toggleLoginWindow()" id="close-btn" class="fa-solid fa-x"></span>
    <h2>Welcome!</h2>

    <div class="forms-container">
      <div class="selection-menu">
        <span id="signIn-btn" class="active" (click)="signInSelect()">Sign In</span>
        <span id="newAccount-btn" (click)="newAccountSelect()">New Account</span>
        <hr />
      </div>

      <!-- Sign In -->
      <form *ngIf="!isNewAccountSelected" id="signIn-form">
        <div class="error"></div>

        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Enter password" required>
        </div>
        <div class="actions">
          <button type="button" class="sign-in-btn">Sign In</button>
          <button type="button" class="forgot-password-btn">Forgot Password</button>
        </div>
      </form>

      <!-- Create New Account -->
      <form *ngIf="isNewAccountSelected" id="newAccount-form" [formGroup]="accountForm" (ngSubmit)="newAccountSubmit()">
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Enter email" formControlName="email" required>
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Create password" formControlName="password"
            required>
        </div>
        <ul>
          <li>At least 8 characters</li>
          <li>At least 1 special character</li>
          <li>At least 1 lowercase letter and 1 uppercase letter</li>
        </ul>
        <div class="actions">
          <button type="submit" class="create-account-btn" [disabled]="!accountForm.valid">Create Account</button>
        </div>
      </form>
    </div>

    <div>
      <h3>Or connect with:</h3>
      <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
        data-shape="rectangular" data-logo_alignment="left">
      </div>
    </div>
  </div>
</ng-container>
