<section>
  <h1>{{ quizSkillName }} Conceptual Quiz</h1>

  <div *ngIf="isLoading" class="loading">Loading questions...</div>

  <div *ngIf="!isLoading && quizData.length === 0" class="no-questions">
    No questions available for this skill.
  </div>

  <ng-container
    *ngIf="!isLoading && quizData && quizData.length > 0 && showScore === false"
  >
    <div class="quiz-container">
      <div class="quiz-number-complete-container">
        <h2 class="quiz-number-title">
          Question {{ currentQuestionIndex + 1 }}
        </h2>
        <div class="progress-section">
          <div class="progress-container">
            <div
              class="progress-bar"
              [style.width.%]="(selectedAnswersCount / quizData.length) * 100"
            ></div>
          </div>
          <div class="counter-section">
            <span class="quiz-counter" [ngClass]="getCounterClass()">
              {{ selectedAnswersCount }}/{{ quizData.length }}
            </span>
          </div>
          <button
            class="quiz-complete-button"
            (click)="calculateScore()"
            [disabled]="selectedAnswersCount < quizData.length"
          >
            Complete
          </button>
        </div>
      </div>
      <h3
        class="quiz-question"
        [innerHTML]="quizData[currentQuestionIndex].question"
      ></h3>
      <div class="quiz-options-container">
        <button
          type="button"
          class="quiz-option"
          *ngFor="
            let option of quizData[currentQuestionIndex].options;
            let i = index
          "
          (click)="selectOption(option.correct, i)"
          [ngClass]="{
            selected:
              selectedAnswers[currentQuestionIndex] !== null &&
              selectedAnswers[currentQuestionIndex] === i
          }"
          [innerHTML]="option.option"
        ></button>
      </div>
    </div>

    <div class="pagination">
      <button
        type="button"
        class="pagination-button previous"
        (click)="previousQuestion()"
      >
        Previous
      </button>

      <ng-container *ngFor="let question of quizData; let i = index">
        <button
          type="button"
          class="pagination-button number"
          (click)="selectQuestionIndex(i)"
          [ngClass]="{ active: currentQuestionIndex === i }"
        >
          {{ i + 1 }}
        </button>
      </ng-container>

      <button
        type="button"
        class="pagination-button next"
        (click)="nextQuestion()"
      >
        Next
      </button>
    </div>
  </ng-container>

  <app-quiz-results
    *ngIf="showScore"
    [quizData]="quizData"
    [selectedAnswers]="selectedAnswers"
    [finalScore]="finalScore"
  >
  </app-quiz-results>
</section>
