<section class="section-container">
  <ng-container *ngIf="skills">
    <div class="section-inner-container">
      <div class="card" *ngFor="let item of skills">
        <h1 class="name">{{ item.skill_name }}</h1>
        <div class="stats-container">
          <p>
            Completed <b class="muted">{{ item.completed }}INCOMING</b> times
          </p>
          <p>
            Best technical score:
            <b class="muted">{{ item.bestTechnicalScore }}INCOMING</b>
          </p>
          <p>
            Best conceptual score:
            <b class="muted">{{ item.bestConceptualScore }}INCOMING</b>
          </p>
          <p>
            Correct unique questions:
            <b class="muted">{{ item.correctUniqueQuestions }}INCOMING%</b>
          </p>
        </div>
        <div class="button-container">
          <a class="button button-conceptual" href="/quiz">Conceptual Test</a>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!skills.length">
    <div class="server-error">Server had an error, try reloading.</div>
  </ng-container>
</section>
