<app-home-skill-search
  (searchChange)="onSearch($event)"
></app-home-skill-search>

<section class="section-container">
  <div class="section-inner-container">
    <ng-container *ngIf="filteredSkills">
      <div class="card" *ngFor="let item of filteredSkills">
        <h1 class="name">{{ item.skill_name }}</h1>
        <div class="stats-container">
          <p>
            Completed <b class="muted">{{ item.completed }}INCOMING</b> times
          </p>
          <p>
            Best technical score:
            <b class="muted">{{ item.bestTechnicalScore }}INCOMING</b>
          </p>
          <p>
            Best conceptual score:
            <b class="muted">{{ item.bestConceptualScore }}INCOMING</b>
          </p>
          <p>
            Correct unique questions:
            <b class="muted">{{ item.correctUniqueQuestions }}INCOMING%</b>
          </p>
        </div>
        <div class="button-container">
          <a
            class="button button-conceptual"
            [routerLink]="['/quiz', item.skill_id, 'conceptual']"
            >Conceptual Test</a
          >
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!filteredSkills.length">
      <div class="server-error" *ngIf="!searchTerm">
        Server had an error, try reloading.
      </div>
      <div class="server-error" *ngIf="searchTerm">
        No skills found matching "{{ searchTerm }}"
      </div>
    </ng-container>
  </div>
</section>
