<app-home-skill-search
  (searchChange)="onSearch($event)"
></app-home-skill-search>

<section class="section-container">
  <div class="section-inner-container">
    <ng-container *ngIf="filteredSkills">
      <!-- <div class="card" *ngFor="let item of filteredSkills">
        <h2 class="skill-name">{{ item.skill_name }}</h2>
        <div class="button-container">
          <a
            class="button button-conceptual"
            [routerLink]="[
              '/quiz',
              item.skill_id,
              'conceptual',
              item.skill_name
            ]"
          >
            Start {{ item.skill_name }} Test</a
          >
        </div>
      </div> -->
      <a
        *ngFor="let item of filteredSkills"
        class="card-button"
        [routerLink]="['/quiz', item.skill_id, 'conceptual', item.skill_name]"
        ><p>{{ item.skill_name }}</p></a
      >
    </ng-container>

    <ng-container *ngIf="!filteredSkills.length">
      <div class="server-error" *ngIf="!searchTerm">
        Server had an error, try reloading.
      </div>
      <div class="server-error" *ngIf="searchTerm">
        No skills found matching "{{ searchTerm }}"
      </div>
    </ng-container>
  </div>
</section>
