header {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #161616;
  position: sticky;
}

.brand {
  font-weight: bold;
}

.login {
  cursor: pointer;
  font-weight: 500;
}
