header {
  display: flex;
  justify-content: space-between;
  padding: 2em 3.5em;
  background-color: #161616;
  position: sticky;
}

.brand {
  font-weight: bold;
}

.login {
  cursor: pointer;
  font-weight: 500;
}

@media (min-width: 576px) {
  header {
    padding: 2em 6em;
  }
}

@media (min-width: 768px) {
  header {
    padding: 2em 10em;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 2em 16em;
  }
}
