$grey-highlight: #cecece;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #222222;
  border-bottom: 3px solid #555555;

  @media (min-width: 768px) {
    padding: 2rem 6rem;
  }
}

.brand {
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    color: $grey-highlight;
    transform: translateY(-2px);
  }
}

.login {
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: $grey-highlight;
    color: #000;
    transform: translateY(-2px);
  }
}
