@import "variables";

.search-container {
  text-align: center;

  input {
    margin: 0 30px 30px 30px;
    border: 2px solid #444;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #333333;
    color: #fff;
    transition: all 0.3s ease;
    width: 80%;

    @media (min-width: 576px) {
      width: 400px;
    }

    &:hover,
    &:focus {
      border-color: $grey-highlight;
      outline: none;
    }

    &::placeholder {
      color: #888;
    }
  }
}
